
button:hover{
   cursor: pointer;
}

.button{
   color: var(--textColor);
   background-color: var(--buttonPrimary);
   box-shadow: var(--btnShadow) var(--buttonPrimary) ;
   padding: var(--buttonPadding);
   border-radius: 3px;
   border: none;
}

.button:hover{
   background-color: var(--buttonHover);
   cursor: pointer;
}

.button--info{
   background-color: #2cffd1;
   color: black;
}

.button--info:hover{
   background-color: #2cffae;
}

.button--neutral,.button--black,a.button.button--neutral{
   box-shadow: var(--btnShadow) var(--bgColor) ;
   background-color: var(--bgColor);
}

a.button.button--neutral:hover,
.button--neutral:hover{
   background-color: var(--textColor);
   color: var(--textColorInvert);
   cursor: pointer;
}

.button--delete{
   background-color: var(--buttonSec);
   box-shadow: var(--btnShadow) var(--buttonSec) ;
}

.button--delete:hover{
   background-color: var(--buttonSecHover);
}

.button--black{
   padding: var(--buttonPadding);
   box-shadow: var(--btnShadow) var(--textColorInvert);
}

.button--black:hover{
   background-color: var(--textColor);
   color: var(--textColorInvert);
}

.button--glow{
   box-shadow: var(--btnShadow) var(--darkerPurple);
}