.forum{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0 8vw;
    padding: 3em 0;
    color: white;
}


@media screen and (min-width: 960px) {
    .forum{
        margin: 0 25vw;
    } 
}