@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bentham&family=Lexend&family=Literata:opsz@7..72&family=Montserrat&family=Playfair+Display&family=Playfair+Display+SC:wght@900&family=Poppins&family=Roboto&display=swap');

@import url('forms.css');
@import url('forum.css');
@import url('post.css');
@import url('table.css');
@import url('nav.css');
@import url('button.css');

:root{
        /* Light Theme */
        --bgColor: rgb(237, 237, 237);
        --lighterBg: rgb(132, 132, 132);
        --lightBg: rgb(174, 174, 174);
        --textColor: black;
        --textColorInvert: white;
        --linkBlue: #0545be;
        --linkBlueHover: #2664d8;
    /* Dark Theme */
    --bgColor: rgb(31, 31, 31);
    --lighterBg: rgb(75, 74, 74);
    --lightBg: rgb(58 58 58);
    --textColor: white;
    --textColorInvert: black;
    --linkBlue: #94baff;
    --linkBlueHover: #b3ccfc;



    --buttonPrimary:rgb(89, 89, 249);
    --buttonHover: rgb(74, 74, 255);
    --buttonSec: rgb(209, 30, 30);
    --buttonSecHover:rgb(247, 40, 40);
    --glowColor: #2c8eff;
    --accentPurple: rgb(105, 62, 148);
    --darkerPurple: rgb(77, 37, 118);
    --buttonPadding: 0.4em 0.75em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background-color: var(--bgColor);
}

p{
    margin: 0;
}

a:not('.button'):hover{
    color :var(--linkBlueHover);
}

.spacer{
    flex-grow: 1;
    width: 55vw;
}
.navbar{
    background-color: var(--lighterBg);
    display: flex;
    width: 100%;
}

.lightText{
    color: white;
}

.active{

}


/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */


.glow{
    box-shadow: 0 0 20px -10px var(--glowColor);
}

.action{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 0.5em;
}


textarea{
    height: 5em;
    width: 36ch;
    padding: 12px 18px;
}

.alert{
    color: green;
}


a{
    text-decoration: none;
    color: var(--textColor);
}

a:hover{
    color: var(--linkBlueHover);
}

ul{
    list-style-type: none;
    padding: 0;
}



header{
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>*,
form .action{
    margin: 0.5em 0;
}

.adress{
    max-width: 20ch;
    text-align: end;
}

.titleHeading{
    text-align: center;
    background-color: var(--accentPurple);
    padding: 1em;
    border-radius: 5px;
}

.titleHeading a{
    background-color: var(--darkerPurple);
    padding: var(--buttonPadding);
    border-radius: 3px;
    color: var(--textColorInvert);
}

.linkBlue{
    color: var(--linkBlue);
}