.nav{
    display: flex;
    background-color: var(--lighterBg);
    padding: 1em 2.5vw;
    color: var(--textColor);
}

.nav a:not(".button"):hover{
    color: var(--linkBlue);
}

.nav__right,
.nav__left{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav__greetings{
    color: var(--textColor);
}

.nav__greetings:first-child{
    font-size: 1.25em;
}